@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
    --primary-color: #52499D;
    --secondary-color: #59c3c3;
    --accent-color: #f45b69;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: 'Mooli', sans-serif;
}

body {
    font-family: var(--primary-font);
    font-size: 1.2em;
    color: var(--text-dark);
}

a:link, a:visited {
    color: var(--accent-color);
}

header {
    background-color: var(--primary-color);
    color: var(--text-light);
    text-align: center;
    padding: 10px;
}

footer {
    background-color: var(--primary-color);
    color: var(--text-light);
    text-align: center;
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
    object-fit: cover;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

nav ul.show {
    display: flex;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-light);
}

#menu-button {
    background: none;
    border: none;
    color: var(--text-light);
    font-size: 1.2em;
    cursor: pointer;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    max-width: 750px;
    margin: 0 auto;
}

.gallery figure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
}
